<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.stock.system.mapper.StockBusinessMapper">

    <resultMap id="BaseResultMap" type="com.hh.stock.system.domain.StockBusiness">
            <id property="secCode" column="sec_code" jdbcType="CHAR"/>
            <result property="secName" column="sec_name" jdbcType="VARCHAR"/>
            <result property="sectorCode" column="sector_code" jdbcType="VARCHAR"/>
            <result property="sectorName" column="sector_name" jdbcType="VARCHAR"/>
            <result property="business" column="business" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sec_code,sec_name,sector_code,
        sector_name,business,update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_business
    </select>

    <select id="getAllStockCode" resultType="java.lang.String">
        select sec_code from stock_business
    </select>

    <select id="getBusinessInfo" resultType="com.hh.stock.common.core.domain.stockvo.StockBusinessVo">
        select
            sec_code as code,
            sec_name as name,
            sector_name as trade,
            business
        from
            stock_business
        where
            sec_code = #{code}
    </select>


</mapper>
