<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.stock.system.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.hh.stock.system.domain.UserRole">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_id,
        create_time
    </sql>

    <insert id="batchUserRole">
        insert into sys_user_role(id,user_id, role_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.userId},#{item.roleId})
        </foreach>
    </insert>
    <delete id="deleteUserRoleByUserId" >
        delete from sys_user_role where user_id=#{userId}
    </delete>
    <delete id="deleteUserRole">
        delete from sys_user_role where user_id in
        <foreach collection="array" item="userIds" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </delete>
    <delete id="deleteUserRoleInfo">
        delete from sys_user_role where user_id=#{userId} and role_id=#{roleId}
    </delete>
    <delete id="deleteUserRoleInfos">

        delete from sys_user_role where role_id=#{roleId} and user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>

    </delete>

    <select id="countUserRoleByRoleId" resultType="Integer">
        select count(1) from sys_user_role where role_id=#{roleId}
    </select>

</mapper>
